/*************************************************/
/***********   STYLES for the DASHBOARD 
/*************************************************/

.dropdown {
  margin-top: 25px;
  left:41%;
  position:absolute;
}

.dashboard-main {
  position: relative;
  background: #f1f1f1;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(200% - 78px);
  transition: all 0.5s ease;
  z-index: 0;
  overflow-x: hidden;
}

.dashboard .title {
  display: flex;
  position: relative;
  width: 650px;
  margin-left: 24px;
  margin-top: 10px;
  color: #b91f26;
  font-size: 60px;
  letter-spacing: -5;
  font-family: 'Spartan', sans-serif;
}

.sidebar.active ~ .dashboard-main {
  left: 240px;
  width: calc(200% - 250px);
  opacity: 0.5;
  overflow-x: hidden;
}


/* IMAGE SLIDER */

.container-slider {
  max-width: 800px;
  height: 300px;
  transform: translateX(45%);
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}
@media screen and (max-width: 700px) {
  .container-slider {
    margin: 100px 10px 0;
  }
}
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f1f1f1;
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}
.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}
.next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
}

.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #b91f26;
  margin: 0 5px;
  transition: all 0.5s ease;
}
.dot.active {
  background: #b91f26;
}

/*************************************************/
/***********   Styles for the Dashboard
/*************************************************/


/* STYLES FOR IMAGE SLIDER */

.mySwiper {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.dashboard-main .swiper {
  max-width: 900px;
  height: 300px;
  transform: translateX(-90%);
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* STYLES FOR IMAGE TILES */

  .list {
    max-width: 100%;
    margin-top: 30px;
    margin-left: 50px;
  }
  
  .list .mySwiper1{
    margin-top: 20px;
  max-width: 90vw;
  height: 200px;
  position: relative;
  transform: translateX(-57%);
  overflow: hidden;
  border: none;
  
  }

  .list span{
    font-family: 'Spartan', sans-serif;
    margin-top: 40px;
    font-size: 20px;
    color: #b91f26;
  }
  
  .list .swiper-slide {
    margin-top: 20px;
    max-width: 250px;
    height: 150px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 12px;
    


  }
  .textslide {
    transform: translateY(30%);
      opacity: 0;
      transition: all 1s ease;
      pointer-events: none;
  }
  .hoverslide:hover .textslide {
      opacity: 1;
      transform: translateY(-5%);
      transition: all 1s ease;

  }

  .hoverslide:hover {
    transform: scale(1.05);
    transition: all 1s ease;
    background:lightcoral;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);


}


  